@use 'variables' as *;
@use 'mixins' as *;

.search-bar--main {
    background-color: white;
    @include center-vertical;
    @include border-solid($color: $search-inner-border-color);
    height: 2.5rem;
    border-radius: 0.5rem;
    padding: 0 1rem;

    div {
        @include center-vertical;
        padding-right: 0.5rem;
        margin-right: 0.5rem;
        border-right: 1px solid $search-inner-border-color;

        &:last-child {
            border: none;
            padding-right: 0;
            margin-right: 0;
        }

        img {
            height: 1rem;
            width: 1rem;
            margin-right: 0.5rem;
        }

        span {
            font-size: 0.75rem;
            color: $search-bar-color;
            margin-right: 0.25rem;
        }

        input,
        select {
            outline: none;
            border: unset;
            background: transparent;
        }

        input {
            width: 100%;
        }
    }

    .search-bar--input {
        min-width: 300px;

        div {
            flex-grow: 1;
        }
    }
}

@media (max-width: 800px) {
    div.search-bar--main {
        flex-direction: column;
        height: auto;

        & > div {
            height: 2.5rem;
            width: 100%;
            border-right: unset;
            justify-content: space-between;
            padding-right: unset;
            margin-right: unset;

            & > select {
                flex-grow: 1;
            }
        }

        .search-bar--input {
            min-width: 250px;
            width: 100%;
            max-width: 450px;
        }
    }

    div.search-bar--main {
        .search-bar--input {
            min-width: 250px;
            width: 100%;
            max-width: 450px;
        }
    }
}

@media (max-width: 350px) {
    div.search-bar--main {
        .search-barh--input {
            min-width: unset;
            width: 100%;
            max-width: unset;
        }
    }
}
